.gridcont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.stock{
    overflow: scroll;
}

.datadiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.optionbtn{
    padding-top: 30px;
    margin-bottom: 30px;
}