
.card {
    border: none;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    /* background: #EFF1FE; */
  
    background: rgb(67,126,235);
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(208, 217, 237);
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    text-align: left;
    font-family: 'DM Sans',sans-serif;
    border-bottom: 3px solid #fff;
  }

  .head{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    padding-top: 0;
    margin-top: 0;
  }

  .card .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    font-size: 25px;
    
  }

  .courseimg{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .physics{
    height: 14rem;
  }

  .pnc{
    height: 14rem;
  }
  .scalar{
    height: 14rem;
  }

  .detailbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }

  .head .homebtn{
    position: relative;
    margin-left: 70rem;

  }

  